*{background-color: rgb(18, 233, 248); border: 5px solid black; border-radius: 10px}
#kiran{background-color: brown; border: 1px solid black; border-radius: 10px; padding: 10px; font-size: 20px}
#sachin{background-color: brown; border: 1px solid black; border-radius: 10px; padding: 10px; font-size: 20px}
.abhijit{background-color: greenyellow; border: 1px solid black; border-radius: 10px; padding: 10px; font-size: 20px}
.dipak{background-color: greenyellow; border: 1px solid black; border-radius: 10px; padding: 10px; font-size: 20px}
ol{background-color: yellow; border: solid black; border-radius: 10px; padding: 10px;}